// src/styles/base/_fonts.scss

/* --- OPEN SANS - NORMAL --- */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../assets/fonts/open-sans-v44-latin/open-sans-v44-latin-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400; /* Regular */
  font-display: swap;
  src: url('../../assets/fonts/open-sans-v44-latin/open-sans-v44-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../assets/fonts/open-sans-v44-latin/open-sans-v44-latin-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../../assets/fonts/open-sans-v44-latin/open-sans-v44-latin-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../assets/fonts/open-sans-v44-latin/open-sans-v44-latin-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../assets/fonts/open-sans-v44-latin/open-sans-v44-latin-800.woff2') format('woff2');
}

/* --- OPEN SANS - ITALIC --- */

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('../../assets/fonts/open-sans-v44-latin/open-sans-v44-latin-300italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400; /* Italic Regular */
  font-display: swap;
  src: url('../../assets/fonts/open-sans-v44-latin/open-sans-v44-latin-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('../../assets/fonts/open-sans-v44-latin/open-sans-v44-latin-500italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('../../assets/fonts/open-sans-v44-latin/open-sans-v44-latin-600italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../../assets/fonts/open-sans-v44-latin/open-sans-v44-latin-700italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('../../assets/fonts/open-sans-v44-latin/open-sans-v44-latin-800italic.woff2') format('woff2');
}