# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# CMake and build artifacts (if manually invoked)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
# Makefile
*.so
*.a
*.o

# Colcon build/install/log output (relative from workspace root)
build/
install/
log/

# ROS2 specific
*.launch.pyc

# Test & coverage
*.gcno
*.gcda
*.gcov
*.profraw
htmlcov/
.coverage

# Python virtual environments
.venv/
env/
venv/

# Misc
*.swp
*.swo
*~
.DS_Store
.idea/
.vscode/
*.bak

# Colcon metadata (optional but clean)
.colcon/

# Ignore ROS 2-generated index files
ament_index/

# Ignore tags and ctags
tags
TAGS

# 
**/**/docs/**/**

#
*.jpg
*.png
*.drawio
*.stl
*.urdf
*.dae

/data/*.json