@use 'variables' as *;

/* CORE RESET: Eric Meyer Reset v2.0 | 20110126
   Vollständige Neutralisierung aller Browser-Standard-Styles
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
    &:before, &:after {
        content: '';
        content: none;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* MODERN APP OVERRIDES: GitHub & Professional Standard
   Anpassungen für moderne Web-Applikationen und Elm-Integration
*/

// 1. Box-Sizing für alle Elemente (Der wichtigste Standard heute)
*, *::before, *::after {
    box-sizing: border-box;
}

// 2. HTML & Body auf volle Höhe setzen für das Dashboard-Feeling
html, body {
    height: 100%;
    width: 100%;
    // Verhindert das "Bouncen" oder ungewollte Scrollen der gesamten Seite
    overflow: hidden; 
}

body {
    // Meyer-Reset setzt 1, wir nutzen 1.5 für bessere Lesbarkeit (GitHub Standard)
    line-height: 1.5;
    
    // Schriftglättung (Profi-Look auf Mac & PC)
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    
    // Modern System Font Stack (wie bei GitHub, Slack, Linear)
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    
    // Basis-Farben aus deinen Variablen
    background-color: $bg-dark;
    color: white;
}

// 3. Elm-Root Container
// Sorgt dafür, dass Elm den vollen Viewport kontrollieren kann
#elm-app {
    height: 100%;
    width: 100%;
}

// 4. Formular-Elemente standardisieren (Browser-Eigendynamik stoppen)
input, button, textarea, select {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;
}

button {
    cursor: pointer;
    padding: 0;
    // Verhindert graue Hintergründe in manchen Mobile-Browsern
    -webkit-tap-highlight-color: transparent; 
}

// 5. Medien-Optimierung
img, picture, video, canvas, svg {
    max-width: 100%;
    display: block;
    height: auto;
}

// 6. Fokus-Styles (Barrierefreiheit)
// Verhindert den hässlichen blauen Rahmen, wenn nicht nötig, behält ihn aber für Tastatur-User
:focus:not(:focus-visible) {
    outline: none;
}

*:focus-visible {
    outline: 2px solid $color-info;
    outline-offset: 2px;
}